@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
   background-color: white;
   font-family: 'Nunito', sans-serif;
}

.pageGrid{
    display:grid;
    flex-shrink: 1;
<<<<<<< HEAD
    grid-template-columns:1fr 4fr 1fr;
gap:20px;
    grid-template-areas: 
"nav  header header "
"nav main ."
"nav main .";
=======
    grid-template-columns:350px 3fr 1fr;
    grid-template-rows: 30rem;
    grid-template-areas: 
"nav  header TimeTable "
"nav main TimeTable"
"nav main TimeTable";
>>>>>>> 89c783c8d06ad7dfc4eb5d87eadf27163ca45e08
   
}
.table{
    border-spacing: 20px;
}
.item1{
<<<<<<< HEAD
    grid-area:nav;
    background-color: green;
 border-radius: 0px 10rem 0rem 0rem;
  padding: 10rem 0 0 0rem;

=======
position: relative;;
    grid-area:nav;
    padding: 15rem 0 0 0rem;
    text-align: center;
    font-weight:500;
}

.navLI li{
    display: flex;
    height:5.5rem;
   color:black;
   padding:1.5rem 3rem 2rem 4rem;
   font-size: 1.5rem;
   width: 80%;
}
.navLI li:hover{
   color:rgba(121,50,128);
>>>>>>> 89c783c8d06ad7dfc4eb5d87eadf27163ca45e08
}
.headingDashboard{
    width:150px;
}
.item2{
  grid-area: header;
<<<<<<< HEAD
  padding: 10rem 0 0 0rem;
background-color: orange;
align-self: end;
border-bottom: 0.5rem solid gray;


=======
  padding: 2rem 0 0 0rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
>>>>>>> 89c783c8d06ad7dfc4eb5d87eadf27163ca45e08
}


.item3{
    grid-area:main;
<<<<<<< HEAD
 background-color: #F7F5F2;

=======
 border-radius:0 0 2rem 0 ;
 display: flex;
 align-items: center;

}
.item4{
    grid-area:TimeTable;
    background: rgba(252,245,235);
>>>>>>> 89c783c8d06ad7dfc4eb5d87eadf27163ca45e08
}

.item5{
 margin-top: 2rem;
    grid-area: SelectBox;
    justify-self: center;
    width:100%;
    padding:0px 0px 0px 4rem ;
}
.SelectBox{
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content:space-between;
   height:25rem;    
    width:75rem;
    background-color: #D1C7BE;
    margin-left: 5rem;
    border-radius: 3rem;
    padding: 1rem 5rem;
    box-shadow: 2px 2px 5px gray;

}
.item16{
    grid-area: footer;
    
}
.tableLine{
    height:5rem;
    width:1rem;
    z-index: 1;
    background: rgb(122,56,112)
  }


@media only screen and (max-width: 1000px){
    .table{
      background-color: blue;
    }
  }

