.aboutUs{
    background-color: red;
    height: 50vh;
    display: flex;
    width: 100%;
}

.aboutUs .employees{
    background-color: yellow;
    height: 50vh;
    width: 50%;
}

.employees .employer{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.aboutUs .story{
    background-color: blue;
    height: 50vh;
    width: 50%;
}