@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');

.aboutUs{
    background-color: #F7F6F2;
    height: 65vh;
    display: flex;
    width: 100%;
    background-color: red;
}


.aboutUs .employees{
    /* background-color: yellow; */
    height: 60vh;
    width: 60%;
}

.employees .happy_employees{
    width: 84%;
    height: 104%;
    margin-left: 10%;
    margin-top: 10%;
}

.aboutUs .story_1{
    /* background-color: blue; */
    height: 60vh;
    width: 50%;
    
}

.story_1 h6{
    color: #74736d;
    margin-top: 25%;
    margin-left: 10%;
    font-family: 'Nunito', sans-serif;

}

.story_1 h1{
    color: #463f3c;
    margin-left: 10%;
    font-family: 'Nunito', sans-serif;

}

.story_1 p{
    color: #463f3c;
    margin-left: 10%;
    margin-top: 2%;
    font-family: 'Nunito', sans-serif;

}