.footer{
        /* background-image: url(./images/logo_3-removebg-preview.png); */
    display: flex;
    width: 100%;
    height: 70vh;
    /* background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat; */
        /* opacity:0.1; */
}

.solutions{
    width: 20%;
    text-align: left;
    /* background-color: palegoldenrod; */
    height: 70vh;
    margin-left: 1%;
}

.solutions h3{
    /* color: #97B1B3; */
    color: #97B1B3;
    margin-top: 22%;
    margin-bottom: 12%;
    margin-left: 30%;
  font-size:medium

}
.solutions li {
    margin-bottom: 8%;
    margin-left: 30%;
    font-size:medium


}
.solutions a {
    color:#292a2d;
    
}
.solutions a:hover {
    padding-bottom: 1px ;
    border-bottom: 1px solid#292a2d;
    
}
.Tools{
    width: 20%;
    text-align: left;
    /* background-color: aliceblue; */
    height: 70vh;

}

.Tools h3{
    color: #97B1B3;
    margin-top: 22%;
    margin-bottom: 12%;
    margin-left: 30%;
    font-size:medium

}
.Tools li {
    margin-bottom: 8%;
    margin-left: 29%;
    font-size:medium

}
.Tools a {
    color:#292a2d;
    
}
.Tools a:hover {
    padding-bottom: 1px ;
    border-bottom: 1px solid#292a2d;
    
}
.Learn{
    width: 20%;
    text-align: left;
    /* background-color: purple; */
    height: 50vh;
}

.Learn h3{
    color: #97B1B3;
    margin-top: 22%;
    margin-bottom: 12%;
    margin-left: 30%;
    font-size:medium

}
.Learn li {
    margin-bottom: 8%;
    margin-left: 30%;
    font-size:medium

}
.Learn a {
    color:#292a2d;
    
}
.Learn a:hover {
    padding-bottom: 1px ;
    border-bottom: 1px solid#292a2d;
    
}

.About-Us{
    width: 20%;
    text-align: left;
    /* background-color: rgb(0, 128, 11); */
    height: 50vh;
}

.About-Us h3{
    color: #97B1B3;
    margin-top: 22%;
    margin-bottom: 12%;
    margin-left: 30%;
    font-size:medium

}
.About-Us li {
    margin-bottom: 8%;
    margin-left: 30%;
    font-size:medium

}
.About-Us a {
    color:#292a2d;
    
}
.About-Us a:hover {
    padding-bottom: 1px ;
    border-bottom: 1px solid#292a2d;
    
}

.icons{
    width: 20%;
    text-align: left;
    /* background-color: rgb(117, 128, 0); */
    height: 50vh;
}

.icons h3{
    color: #97B1B3;
    margin-top: 22%;
    margin-bottom: 12%;
    margin-left: 1%;

}
.icons .icon{
    margin-top: 13%;
    margin-left: 15%;
    margin-bottom: 11%;
}
.icons li {
    margin-bottom: 8%;
    font-weight: 400;
    font-size: small;
    margin-left: 35%;

}
.icons a {
    color:#adb2b7;
    
}
.icons a:hover {
    padding-bottom: 1px ;
    border-bottom: 1px solid#adb2b7;
    
}