.hero{
    background-color: #F7F6F2;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero:before{
content: '';
background-color: yellow;
height: 100%;
width: 100%;
position: relative;
top: 0;
left: 0;
z-index: -1;

}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
    color: black;
}
.hero h1{
    margin-bottom: 2%;
    font-family: reckless,serif;
    white-space: pre-wrap;
    letter-spacing: .02cm;
    font-weight: 100;
}
.hero p{
    font-family: reckless,serif;

}

.button {
    padding: 17px 20px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: black;
    border: 1px solid ;
    border-radius: 27px;
    cursor: pointer;
    width: 15%;
    margin-top: 2%;
  }
  
  .button:hover{
    background-color: white;
    color: black;
    border: white;
  }
  .caca{
    font-family: reckless,serif;
    white-space: pre-wrap;
    letter-spacing: .02cm;
    font-size: xx-large;
    font-weight: 100;

  }
