@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');

.mission{
    /* background-color: #F7F6F2; */
    height: 70vh;
    display: flex;
    width: 100%;
    /* background-color: red; */
    margin-top: 7%;
    background-color: #F7F6F2;

}


.mission .our-mission{
    /* background-color: yellow; */
    height: 70vh;
    width: 60%;
  
}

.our-mission h6{
    margin-left: 8%;
    margin-top: 20%;
    font-family: 'Nunito', sans-serif;
    color: #463f3c;

}
.our-mission h1{
    margin-left: 8%;
    margin-top: 2%;
    font-family: 'Nunito', sans-serif;
    color: #463f3c;

}
.our-mission p{
    margin-left: 8%;
    margin-top: 2%;
    font-family: 'Nunito', sans-serif;
    color: #463f3c;

}

.mission .mission-img{
    height: 70vh;
    width: 50%;
    /* background-color: blue; */
}
.mission-img .guy{
    width: 85%;
    height: 88%;
    margin-left: 12%;
    margin-top: 8%;
}