@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');
 
.boxes{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.boxes .Tabs{
    background-color: blue;
/* background-color: blue;
height: 10vh;
width: 10%; */
height: 70vh;
width: 100%;
text-align: center;
}
.space_boxes{
width: 100%;
height: 10vh;
}
.space_boxes .title{
    color: beige;
justify-content: center;
background-color: black;
margin-left: 34%;
}
.space_boxes p{
    color: aquamarine;
    background-color: brown;
}