.welcome{
    width: 100%;
    height: 100vh;
}

.login-register-container{
    width: 100%;
    height: 70%;
    padding: 2%;
  
}
.picture-login{
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;
}
.picture-login img{
    border-radius: 20px;
    width: 50%;
    height: 20%;
    background-color: #d1c7be;
   }
   .picture-login1 img{
    border-radius: 20px;
    width: 50%;
    height: 20%;
    background-color: #d0d9d9;
   }
   .picture-login1{
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
}
.login-form{
   width: 40%;
   height: 100%;
   
}
.login-input input{
    color: black;
    text-indent: 20px;
    margin-bottom: 4%;
    border-radius: 10px;
    border: 1px solid grey;
    height: 60px;
    width: 100%;
}
.login-input input:hover{
    border: 1px solid black;
}
.login-input h2{
    margin-bottom: 6%;
}
.login-input p{
    margin-bottom: 6%;
}
.login-part{
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
}
.signing-buttons{
    display: flex;
    flex-direction: column;
}
.sign-in-register-button{
    border-radius: 40px;
    background-color:black ;
    color: white;
    border: none;
    height: 55px;
    width: 100%;
    margin-bottom: 2%;

}
.sign-in-register-button:hover{
    background-color:#53b291 ;
}
.cancel-button1{
    border-radius: 40px;
    color:#00b2ff ;
    background-color: transparent;
    border-color: #00b2ff;
    height: 25px;
    width: 45%;
}
.forgot{
    border: none;
    background: none;
    text-decoration: underline;
    margin-bottom: 5%;
}
.forgot:hover{
    color: #53b291;
}
.welcome1{
    background-color: #00b2ff;
}